<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia Bancaria</title>
    <link rel="stylesheet" href="file.css">
</head>

<body>
    <section>
        <h1>Consulta 4</h1>
        <p>Gráficos de transações bancárias por mês nos últimos 5 anos.</p>

        <a href="/consulta4/pdf" target="_blank" download="relatorio_transacoes.pdf">
            <button>Baixar PDF</button>
        </a>
    </section>
</body>

</html>