<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia Bancaria</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <h1>Agencia Bancaria</h1>
        <div class="linha">
            <a href="/consulta1"><button>Consulta 1</button></a>
            <a href="/consulta2"><button>Consulta 2</button></a>
            <a href="/consulta3"><button>Consulta 3</button></a>
            <a href="/consulta4"><button>Consulta 4</button></a>
        </div>
    </section>
</body>
</html>